# Real hosts
[srv01]
# Main host
srv01_host
# Tenants
srv01_tenant_a 
srv01_tenant_b

[srv01:vars]
ansible_host=207.0.0.1 
ansible_ssh_host=207.0.0.1 

[docker]
srv01_host

[traefik]
srv01_host

#[nextcloud]
#srv01_tenant_a

[jitsi_docker]
srv01_tenant_a
srv01_tenant_b

#[collabora]
#srv01_tenant_a

#[onlyoffice]
#srv01_tenant_a

#[cryptpad]
#srv01_tenant_a